@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --pink: #F92670;
  --yellow: #DCDA42;
  --lime: #B2E30A;
  --teal: #39B6B0;
  --green: #486D5F;
  --light:#e4e5e5;
  --default-font: "Caveat", cursive;
  --font-alt: "Yanone Kaffeesatz", sans-serif;
  --alt-2: "Caveat", cursive;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
  background-color: var(--light);
}

#modal-base {
  position: absolute;
  z-index: 999999;
}
#modal-base .modal {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#modal-base .modal .modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 70%;
  /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#modal-base .modal .modal-content .close {
  margin: 15px;
  align-self: end;
  width: 30px;
  height: 30px;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  font-size: 20px;
  font-weight: bold;
  transition: all 300ms ease-in-out;
}
#modal-base .modal .modal-content .close:hover, #modal-base .modal .modal-content .close:focus {
  color: white;
  width: 33px;
  height: 33px;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}
#modal-base .modal .modal-content .modal-body {
  padding: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #f6f3f6;
}

.vertical-marker {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1px;
  background-color: red;
  top: 0;
  left: 0;
  z-index: 999;
}

.horizontal-marker {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 1px;
  width: 100%;
  background-color: red;
  top: 0;
  left: 0;
  z-index: 9999;
}

.game-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .game-screen #game-board {
    width: 90vw !important;
    min-width: 90vw !important;
    max-width: 90vw !important;
  }
}
.game-screen .scoreboard {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.game-screen .btn-box {
  justify-content: space-evenly;
}
.game-screen #game-board {
  display: grid;
  padding: 1%;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 80vh;
  min-height: 50vh;
  height: auto;
  width: 100%;
  max-width: 60vw;
  min-width: 200px;
}
.game-screen #game-board.easy {
  aspect-ratio: 2/3;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 25%));
}
.game-screen #game-board.medium {
  aspect-ratio: 2/3;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 20%));
}
.game-screen #game-board.hard {
  aspect-ratio: 3/4;
  grid-template-columns: repeat(auto-fill, minmax(calc(100%/6), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 20%));
}
.game-screen #game-board.hard .card .emoji {
  font-size: 2em;
}
.game-screen .card {
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #39B6B0;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  min-width: 40px;
  min-height: 60px;
  width: auto;
  height: auto;
  margin: 6%;
  background-color: white;
  border-radius: 5px;
  transition: opacity 500ms ease-out 1s;
  opacity: 100%;
}
.game-screen .card .emoji {
  font-size: 3em;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease-out 100ms;
  z-index: 9;
  position: relative;
}
.game-screen .card .count-down-timer {
  position: absolute;
  z-index: 1;
  fill: #F92670;
  display: none;
}
.game-screen .card .floating-anim {
  position: absolute;
}
.game-screen .card .floating-anim.minus {
  color: red;
}
.game-screen .card .floating-anim.plus {
  color: var(--green);
}
.game-screen .card.is-face-up {
  background-color: white;
  border: none;
}
.game-screen .card.is-face-up .emoji {
  opacity: 100%;
}
.game-screen .card.is-face-up .count-down-timer {
  display: block;
}
.game-screen .card.matched {
  opacity: 0;
  pointer-events: none;
  cursor: none;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: var(--pink);
  transition: all 300ms ease-in-out;
  margin-left: 5px;
  margin-right: 5px;
}
.btn:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.game-over-modal {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}
.game-over-modal .score {
  color: var(--yellow);
}

.btn-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#get-user-name-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}
#get-user-name-form .form-body {
  margin-top: 10%;
  margin-bottom: 8%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}
#get-user-name-form .form-body label {
  margin-right: 10px;
}
#get-user-name-form .form-body input {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

/*# sourceMappingURL=game.css.map */
