@import "base";


@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    //fill:hsl(189, 68%, 75%)
    fill: rgba(250, 75, 136, 0.3);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 0;
    fill: rgba(250, 37, 112, 1);
  }

}

@keyframes colorAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(189, 68%, 75%);
  }

  50% {
    fill: hsla(189, 68%, 75%, 10%);
  }

  80% {
    fill: rgba(250, 75, 136, 0.5);
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 0;
    fill: #F92670;

  }

}


@keyframes slide-up {
  0% {
    opacity: 100%;
    transform: translateY(0);
  }
  80% {
    width: 100%;

  }
  100% {
    transform: translateY(-100%);
    width: 0;
    opacity: 0;
  }
}

.logo-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  //font-size: 10vw;
}

.svg-parent {
  width: 100%;
  //height: 100%;
  align-items: center;

  justify-content: center;
  display: flex;
}

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  //display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10000;
  animation: slide-up .8s forwards 1.5s ease-out;


  #logo-svg {
    stroke: #F92670;
    stroke-width: 3;
    stroke-miterlimit: 10;
    animation: textAnimate 1.5s forwards;
  }


}

.page-banner {
  font-family: var(--default-font);
  font-weight: 900;
  font-size: max(6rem, 30px);
}

#logo-svg-header {
  stroke: #F92670;
  stroke-width: 3;
  stroke-miterlimit: 10;
  animation: colorAnimate 5s infinite alternate;

}

.main {
  position: absolute;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;


  .option-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 1rem;
    align-items: center;

    .home-btn {
      width: 100%;
      //max-height: 40px;
      text-align: center;
      max-width: 50vw;
      height: 10px;
      cursor: pointer;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: calc(20px + 2%) calc(40px + 3%);
      margin-top: .85rem;
      margin-bottom: .85rem;
      background-color: #fa4b88;
      color: white;

      &:hover {
        background-color: var(--pink);
      }
    }
  }
}
.custom-shape-divider-top-1654147073 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1654147073 svg {
    position: relative;
    display: block;
    width: calc(156% + 1.3px);
    height: 366px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1654147073 .shape-fill {
    fill: hsla(189, 69%, 75%, 0.3)
}
.opts-modal {
  //background-color: #486D5F;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .theme-icon{font-size: 2rem}
  .game-options {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(25%, 1fr) minmax(50%, 1fr) minmax(25%, 1fr);
    grid-template-rows:  auto 1fr;
    grid-template-areas:
            "title title title"
            "left options right";
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    place-items: center;

    .title {
      //padding-top: 5%;
      //padding-bottom: 2%;
      grid-column: title;
    }

    .arrow {
      cursor: pointer;
      height: 1.5rem;


      &.left {
        grid-column: left;

      }

      &.right {
        grid-column: right;
      }
    }

    .difficulty-opts, .theme-opts {
      cursor: none;
      pointer-events: none;
      grid-column: options;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding-top: 5px;
      padding-bottom: 5px;

      .lv-opt, .theme-opt {
        display: none;
        font-weight: bolder;
        font-size: 1.5em;

        &.show {
          display: block;
        }
      }
    }

  }
}